<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/main.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css")
        title FashionLandingpage
    body
        .wrapper
            .header
                nav.navbar.navbar-expand-lg.navbar-light.py-4.container
                    .container-fluid
                        a.navbar-brand(href='#') YOUR LOGO
                        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                            span.navbar-toggler-icon
                        #navbarNav.collapse.navbar-collapse
                            ul.navbar-nav
                                li.nav-item
                                    a.nav-link( href='#') home
                                li.nav-item
                                    a.nav-link(href='#') shop
                                li.nav-item
                                    a.nav-link(href='#') lookBook
                                li.nav-item
                                    a.nav-link(href='#') features
                                li.nav-item
                                    a.nav-link(href='#') pages
                                li.nav-item
                                    a.nav-link(href='#') blog
                            .social-media
                                a(href="#")
                                    i.fas.fa-search
                                a(href="#")
                                    i.far.fa-heart
                                a(href="#")
                                    i.fas.fa-shopping-cart
            .section
                img(src="./img/bgr.png", alt="")
                .section-text
                    h5 NEW TRANDE
                    h1 COLLUSION
                    h6 An exclusive selection of this season's trends.
                    .section-btn
                       a.btn.btn-primary.btn-lg.disabled(href='#' tabindex='-1' role='button' aria-disabled='true') DISCOVER
                        a.btn.btn-secondary.btn-lg.disabled(href='#' tabindex='-1' role='button' aria-disabled='true') SHOP NOW

























        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW' crossorigin='anonymous')
